<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta property="og:title" content="Home | Fortezza Tactics Online" />
    <meta property="og:description" content="The Home Page for Fortezza Tactics Online." />
    <meta property="og:image" content="https://fortezzatactics.online/assets/global/favicon.png" />
    <meta property="og:url" content="https://fortezzatactics.online/home" />
    <meta property="og:type" content="website" />

    <title>Home | Fortezza Tactics Online</title>
    <link rel="icon" type="image/png" href="/assets/global/favicon.ico">
    <script src="/js/tailwind.js"></script>
</head>
<!-- 
    <div id="editUser" class="bg-black bg-opacity-85 fixed w-screen h-screen top-0 left-0 flex justify-center items-center hidden">
        <div class="bg-secondary w-1/2 p-4 relative">
            <button class="absolute top-2 right-8 text-white text-xl font-semibold hover:text-primary p-2 focus:outline-none" onclick="toggleUserPage()">X</button>
    
            <div class="relative inline-block hover">
                <img id="ProfilePic" 
                     src="/assets/profileimages/<%= user.image %>.png" 
                     alt="Profile Picture" 
                     class="w-[128px] h-[128px] ml-2" 
                     style="image-rendering: pixelated;">
                <img src="/assets/global/editicon.png" 
                     alt="Edit Icon" 
                     class="absolute bottom-0 right-0 w-[32px] h-[32px] mb-1 mr-1 cursor-pointer bg-primary hover:bg-blue-500" onclick="toggleProfileImage()">
            </div>
        
            <form action="/auth/update-username" method="POST" class="flex flex-col w-full items-center space-x-4 mb-4">
                <label for="username" class="text-lg text-white text-left w-full ml-4">Change Username</label>
                <div class="flex flex-row w-full">
                    <input type="text" id="username" name="username" value="<%= user.username %>" class="w-full px-2 border-4 border-primary text-black" placeholder="New Username"/>
                    <button type="submit" class="bg-primary text-white font-semibold hover:bg-blue-500 focus:outline-none w-[300px] border-4 border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-50 mr-2">Submit Change</button>
                </div>
            </form>
        
            <form action="/auth/update-email" method="POST" class="flex flex-col w-full items-center space-x-4 mb-4">
                <label for="email" class="text-lg text-white text-left w-full ml-4">Change Email</label>
                <div class="flex flex-row w-full">
                    <input type="email" id="email" name="email" value="<%= user.email %>" class="w-full px-2 border-4 border-primary text-black" placeholder="New Email" />
                    <button type="submit" class="bg-primary text-white font-semibold hover:bg-blue-500 focus:outline-none w-[300px] border-4 border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-50 mr-2">Submit Change</button>
                </div>
            </form>
        
            <form action="/auth/update-password" method="POST" class="flex flex-col w-full items-center space-x-4 mb-4">
                <label for="password" class="text-lg text-white text-left w-full ml-4">Change Password</label>
                <div class="flex flex-row w-full">
                    <input type="password" id="password" name="password" class="w-full px-2 border-4 border-primary text-black" autocomplete="new-password" placeholder="New Password"/>
                    <button type="submit" class="bg-primary text-white font-semibold hover:bg-blue-500 focus:outline-none w-[300px] border-4 border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-50 mr-2">Submit Change</button>
                </div>
            </form>
            
            <div class="flex flex-row justify-between w-full pl-3">
                <a href="/auth/logout" class="px-4 py-2 bg-red-400 text-primary font-semibold border-r-4 border-b-4 border-primary hover:bg-red-500 transition focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                    Logout
                </a>
                <button class="px-4 py-2 bg-red-400 text-primary font-semibold border-r-4 border-b-4 border-primary hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50" 
                    onclick="toggleAccountDelete()">
                    Delete Account
                </button>
            </div>
        </div>
    </div>

    <div id="profileImageWidget" class="bg-black bg-opacity-85 fixed w-screen h-screen top-0 left-0 flex justify-center items-center hidden">
        <div class="bg-secondary w-1/3 p-4 relative">
            <button class="absolute top-0 right-8 text-white text-xl font-semibold hover:text-primary p-2 focus:outline-none" onclick="toggleProfileImage()">X</button>
            <div class="text-xl text-white -mt-2">Change Profile Image</div>
    
            <div class="grid grid-cols-3 gap-4">
                <% images.forEach(image => { %>
                    <div class="flex justify-center items-center">
                        <form action="/auth/update-profile-image" method="POST">
                            <input type="hidden" name="image" value="<%= image %>">
                            <button type="submit">
                                <img src="/assets/profileimages/<%= image %>" alt="<%= image %>" class="w-24 h-24 object-cover cursor-pointer hover:border-4 hover:border-blue-500 hover:outline hover:outline-2 hover:outline-blue-500" style="image-rendering: pixelated;">
                            </button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div id="confirmDeleteAccount" class="bg-black bg-opacity-85 fixed w-screen h-screen top-0 left-0 flex justify-center items-center hidden">
        <div class="bg-secondary w-1/3 p-4 relative">
            <button class="absolute top-0 right-8 text-white text-xl font-semibold hover:text-primary p-2 focus:outline-none" onclick="toggleAccountDelete()">X</button>
            <div class="text-lg text-white">Confirm Account Deletion</div>

            <form action="/auth/delete-account" method="POST" class="space-y-4">
                <div>
                    <label for="email" class="block font-medium">Email</label>
                    <input type="text" name="email" id="email" required autocomplete="new-email" value="" placeholder="Enter Email"
                           class="bg-white text-primary mt-1 block w-full border-r-4 px-2 border-b-4 border-primary focus:outline-none focus:ring-2 focus:ring-primary">
                </div>
    
                <div>
                    <label for="password" class="block font-medium">Password</label>
                    <input type="password" name="password" id="password" required autocomplete="new-password" placeholder="Enter Password"
                        class="bg-white text-primary mt-1 block w-full border-r-4 px-2 border-b-4 border-primary focus:outline-none focus:ring-2 focus:ring-primary">
                </div>
    
                <div class="flex items-center justify-center">
                    <button type="submit" class="p-2 bg-red-400 text-primary font-semibold hover:bg-red-500 border-r-4 border-b-4 border-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                        Delete Account
                    </button>
                </div>
            </form>
        </div>
    </div>
</body> -->

<body class="bg-primary flex items-center justify-center min-h-screen text-lg">
    <div id="main" class="bg-secondary w-screen h-screen flex items-center justify-center overflow-hidden">
        <div id="paralaxed" class="relative w-full h-screen overflow-hidden">
            <div class="bg-black bg-opacity-85 absolute top-0 left-0 w-screen h-screen z-10"></div>
            <img id="7" src="/assets/global/bgs/clouds/Clouds_4/1.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="5" src="/assets/global/bgs/clouds/Clouds_4/2.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="3" src="/assets/global/bgs/clouds/Clouds_4/3.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">
            <img id="2" src="/assets/global/bgs/clouds/Clouds_4/4.png" class="parallax-layer absolute top-0 left-0 h-screen xl:w-screen xl:h-auto object-cover" style="image-rendering: pixelated; z-index: 1;">

            <div id="contents" class="absolute inset-0 flex flex-col items-center justify-center text-center text-white z-10 overflow-scroll">
                <div class="bg-secondary p-8 w-full sm:w-auto text-white rounded-xl border-b-4 border-r-4 border-primary">
                    <div id="title" class="w-full h-auto flex flex-col justify-center items-center">
                        <img src="/assets/landing/title.png" alt="Game Title" style="image-rendering: pixelated; z-index: 1;" class="w-[200px] -mt-5 -mb-16 bg-secondary">
                        <hr class="w-full h-px my-8 bg-white">
                    </div>

                    <div id="top-row" class="w-full flex flex-col sm:flex-row sm:justify-between sm:space-x-32">
                        <div id="playerInfo" class="top-0 left-0 h-[100px] bg-transparent text-white flex items-center">
                            <div id="player" class="relative flex items-center p-3 w-full sm:min-w-[300px] bg-primary transition rounded-lg hover:border-cyan-600 border-4 border-primary cursor-pointer" onclick="toggleUserPage()">
                                <div class="flex">
                                    <img id="ProfilePic" 
                                        src="/assets/profileimages/<%= user.image %>.png" 
                                        alt="Profile Picture" 
                                        class="w-[64px] h-[64px] mr-3" 
                                        style="image-rendering: pixelated;">
                                </div>
                                <div class="flex flex-row justify-between w-full px-3">
                                    <div id="playerName" class="font-bold text-lg"><%= user.username %></div>
                                    <div class="text-lg text-right"><%= Math.floor(user.xp / 1275) + 1 %></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col justify-center align-center sm:align-right sm:space-y-4 gap-4 sm:gap-0">
                            <div class="flex flex-row hover:cursor-pointer bg-primary bg-opacity-85 transition hover:bg-opacity-85 border-b-4 border-white rounded-lg hover:border-cyan-600 justify-center px-2" onclick="togglePaymentScreen()">
                                <div id="displayPremiumCurrency" class="text-lg">Premium: <%= user.premium_currency %></div>
                            </div>

                            <div class="flex flex-row hover:cursor-pointer bg-primary bg-opacity-85 transition hover:bg-opacity-85 border-b-4 border-white rounded-lg hover:border-cyan-600 justify-center px-2" onclick="toggleConversionScreen()">
                                <div id="displayCurrency" class="text-lg">Currency: <%= user.currency %></div>
                            </div>
                        </div>
                        
                    </div>

                    <div id="middle-row" class="my-8">
                        <div class="flex flex-col justify-center w-full space-y-4">
                            <div class="flex flex-col bg-primary bg-opacity-75 w-full rounded-lg border-primary border-4 p-4 space-y-4">
                                <div class="w-full flex flex-col sm:flex-row justify-between">
                                    <h1 class="text-3xl">Public Match</h1>
                                    <a href="/play" class="rounded-lg px-6 py-3 bg-cyan-600 text-white font-bold border-b-4 border-r-4 border-cyan-800 transition hover:bg-cyan-700">
                                        Find Game
                                    </a>
                                </div>
                                <div class="w-full flex flex-row justify-between items-center px-4">
                                    <div class="flex justify-left">
                                        <img src="/assets/global/fight.png" class="w-[100px] h-[100px]">
                                    </div>
                                    
                                    <div class="flex flex-row sm:space-x-32">
                                        <div class="flex flex-col">
                                            <p class="text-lg"><%= user.totalWins %>-<%= user.totalGames - user.totalWins %></p>
                                            <p class="text-md text-gray-500">W-L</p>
                                        </div>

                                        <div class="flex flex-col">
                                            <p class="text-lg"><%= user.totalWins %></p>
                                            <p class="text-md text-gray-500">Streak</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="flex flex-col bg-primary bg-opacity-75 w-full rounded-lg border-primary border-4 p-4 space-y-4">
                                <div class="w-full flex flex-col sm:flex-row justify-between">
                                    <h1 class="text-3xl">Private Match</h1>
                                    <a href="/play/private" class="rounded-lg px-6 py-3 bg-emerald-600 text-white font-bold border-b-4 border-r-4 border-emerald-800 transition hover:bg-emerald-700">
                                        Join/Create
                                    </a>
                                </div>
                                <div class="w-full flex flex-row justify-left px-4">
                                    <img src="/assets/global/hand_shake.png" class="w-[100px] h-[100px]">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="bottom-row" class="w-full flex flex-col sm:flex-row sm:justify-between text-md sm:items-end">
                        <p>&copy; 2025 Cole Chiodo.</p>
                        <div class="flex flex-col sm:justify-right sm:text-right sm:align-right">
                            <a id="patchNoteBtn" href="/patch-notes" target="_blank" class="underline hover:underline sm:no-underline">View Patch Notes</a>
                            <div class="">v0.0.1</div>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="/js/imageparallax.js"></script>
    <script>
        window.onload = function() {
            const editUser = document.getElementById("editUser");
            if (!editUser) return;

            if (window.location.pathname === "/home/user") {
                editUser.classList.toggle("hidden");
                editUser.classList.toggle("block");
            }
        }

        function toggleUserPage() {
            const editUser = document.getElementById("editUser");
            if (!editUser) return;

            editUser.classList.toggle("hidden");
            editUser.classList.toggle("block");

            if (window.location.pathname === "/home") {
                history.pushState(null, null, "/home/user");
            } else {
                history.pushState(null, null, "/home");
            }
        }

        function togglePaymentScreen() {
            const userId = '<%= user._id %>';
            const amount = 100;

            fetch('/account/increment-premium-currency', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userID: userId,
                    amount: amount
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
            })
            .then(data => {
                document.getElementById('displayPremiumCurrency').textContent = `Premium: ${data.newPremium}`;
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while processing your request.');
            });
        }

        function toggleConversionScreen() {
            const userId = '<%= user._id %>';
            const amount = 100;

            fetch('/account/convert-premium-currency', {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    userID: userId,
                    amount: amount
                })
            })
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
            })
            .then(data => {
                document.getElementById('displayPremiumCurrency').textContent = `Premium: ${data.newPremium}`;
                document.getElementById('displayCurrency').textContent = `Money: ${data.newCurrency}`;
            })
            .catch(error => {
                console.error('Error:', error);
                alert('An error occurred while processing your request.');
            });
        }

        function toggleAccountDelete() {
            const confirmDeleteAccount = document.getElementById("confirmDeleteAccount");
            if (!confirmDeleteAccount) return;

            confirmDeleteAccount.classList.toggle("hidden");
            confirmDeleteAccount.classList.toggle("block");
        }

        function toggleProfileImage() {
            const profileImageWidget = document.getElementById("profileImageWidget");
            if (!profileImageWidget) return;

            profileImageWidget.classList.toggle("hidden");
            profileImageWidget.classList.toggle("block");
        }
    </script>
</body>
</html>
