<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/meta') %>
    <title>Home | Game Title</title>
    <link rel="icon" type="image/png" href="/assets/profileimages/default.png">
    <script src="/js/tailwind.js"></script>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow-x: hidden;
        }
    </style>
</head>
<body class="bg-primary text-white flex flex-col items-center justify-center min-h-screen text-md">
    <div class="flex flex-col sm:w-screen md:w-1/2">
        <div class="flex flex-row justify-between items-end w-full">
            <div id="playerInfo" class="top-0 left-0 h-[100px] bg-transparent text-white flex items-center">
                <div id="player" class="flex items-center p-3 w-[300px] bg-primary hover:bg-red-500 border-4 border-secondary cursor-pointer" onclick="toggleUserPage()">
                    <img id="ProfilePic" 
                        src="/assets/profileimages/<%= user.image %>.png" 
                        alt="Profile Picture" 
                        class="w-[64px] h-[64px] mr-3" 
                        style="image-rendering: pixelated;">
                    <div id="playerName" class="font-bold text-lg -my-3"><%= user.username %></div>
                </div>
            </div>
            <a id="patchNoteBtn" href="/patch-notes" class="ml-auto text-right hover:underline hidden md:block">Patch Notes</a>
        </div>  
        
        <div class="flex sm:flex-col md:flex-row justify-between items-center w-full">
            <div class="w-full h-full hidden md:block">
                
            </div>
            <div class="p-8 w-full max-w-lg text-center">
                <div class="space-y-4">
                    <div class="bg-secondary w-full">
                        <h1>Public Matchmaking</h1>
                        <p><%= user.totalWins %>W-<%= user.totalGames - user.totalWins %>L</p>
                        <a href="/play" class="block px-4 py-2 bg-green-400 text-primary font-semibold border-primary hover:bg-green-500 transition focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                            Find Game
                        </a>
                    </div>
                    <div class="bg-secondary w-full">
                        Private Match
                        <a href="/play/private" class="block px-4 py-2 bg-blue-400 text-primary font-semibold hover:bg-blue-500 transition focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                            Join/Create
                        </a>
                    </div>
                </div>
            </div>
        </div>  
    </div>

    <div id="editUser" class="bg-black bg-opacity-85 fixed w-screen h-screen top-0 left-0 flex justify-center items-center hidden">
        <div class="bg-secondary w-1/2 p-4 relative">
            <button class="absolute top-2 right-8 text-white text-xl font-semibold hover:text-primary p-2 focus:outline-none" onclick="toggleUserPage()">X</button>
    
            <div class="relative inline-block hover">
                <img id="ProfilePic" 
                     src="/assets/profileimages/<%= user.image %>.png" 
                     alt="Profile Picture" 
                     class="w-[128px] h-[128px] ml-2" 
                     style="image-rendering: pixelated;">
                <img src="/assets/global/editicon.png" 
                     alt="Edit Icon" 
                     class="absolute bottom-0 right-0 w-[32px] h-[32px] mb-1 mr-1 cursor-pointer bg-primary hover:bg-blue-500" onclick="toggleProfileImage()">
            </div>
        
            <form action="/auth/update-username" method="POST" class="flex flex-col w-full items-center space-x-4 mb-4">
                <label for="username" class="text-lg text-white text-left w-full ml-4">Change Username</label>
                <div class="flex flex-row w-full">
                    <input type="text" id="username" name="username" value="<%= user.username %>" class="w-full px-2 border-4 border-primary text-black" placeholder="New Username"/>
                    <button type="submit" class="bg-primary text-white font-semibold hover:bg-blue-500 focus:outline-none w-[300px] border-4 border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-50 mr-2">Submit Change</button>
                </div>
            </form>
        
            <form action="/auth/update-email" method="POST" class="flex flex-col w-full items-center space-x-4 mb-4">
                <label for="email" class="text-lg text-white text-left w-full ml-4">Change Email</label>
                <div class="flex flex-row w-full">
                    <input type="email" id="email" name="email" value="<%= user.email %>" class="w-full px-2 border-4 border-primary text-black" placeholder="New Email" />
                    <button type="submit" class="bg-primary text-white font-semibold hover:bg-blue-500 focus:outline-none w-[300px] border-4 border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-50 mr-2">Submit Change</button>
                </div>
            </form>
        
            <form action="/auth/update-password" method="POST" class="flex flex-col w-full items-center space-x-4 mb-4">
                <label for="password" class="text-lg text-white text-left w-full ml-4">Change Password</label>
                <div class="flex flex-row w-full">
                    <input type="password" id="password" name="password" class="w-full px-2 border-4 border-primary text-black" autocomplete="new-password" placeholder="New Password"/>
                    <button type="submit" class="bg-primary text-white font-semibold hover:bg-blue-500 focus:outline-none w-[300px] border-4 border-primary focus:ring-2 focus:ring-primary focus:ring-opacity-50 mr-2">Submit Change</button>
                </div>
            </form>
            
            <div class="flex flex-row justify-between w-full pl-3">
                <a href="/auth/logout" class="px-4 py-2 bg-red-400 text-primary font-semibold border-r-4 border-b-4 border-primary hover:bg-red-500 transition focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                    Logout
                </a>
                <button class="px-4 py-2 bg-red-400 text-primary font-semibold border-r-4 border-b-4 border-primary hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50" 
                    onclick="toggleAccountDelete()">
                    Delete Account
                </button>
            </div>
        </div>
    </div>

    <div id="profileImageWidget" class="bg-black bg-opacity-85 fixed w-screen h-screen top-0 left-0 flex justify-center items-center hidden">
        <div class="bg-secondary w-1/3 p-4 relative">
            <button class="absolute top-0 right-8 text-white text-xl font-semibold hover:text-primary p-2 focus:outline-none" onclick="toggleProfileImage()">X</button>
            <div class="text-xl text-white -mt-2">Change Profile Image</div>
    
            <div class="grid grid-cols-3 gap-4">
                <% images.forEach(image => { %>
                    <div class="flex justify-center items-center">
                        <form action="/auth/update-profile-image" method="POST">
                            <input type="hidden" name="image" value="<%= image %>">
                            <button type="submit">
                                <img src="/assets/profileimages/<%= image %>" alt="<%= image %>" class="w-24 h-24 object-cover cursor-pointer hover:border-4 hover:border-blue-500 hover:outline hover:outline-2 hover:outline-blue-500" style="image-rendering: pixelated;">
                            </button>
                        </form>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

    <div id="confirmDeleteAccount" class="bg-black bg-opacity-85 fixed w-screen h-screen top-0 left-0 flex justify-center items-center hidden">
        <div class="bg-secondary w-1/3 p-4 relative">
            <button class="absolute top-0 right-8 text-white text-xl font-semibold hover:text-primary p-2 focus:outline-none" onclick="toggleAccountDelete()">X</button>
            <div class="text-lg text-white">Confirm Account Deletion</div>

            <form action="/auth/delete-account" method="POST" class="space-y-4">
                <div>
                    <label for="email" class="block font-medium">Email</label>
                    <input type="text" name="email" id="email" required autocomplete="new-email" value="" placeholder="Enter Email"
                           class="bg-white text-primary mt-1 block w-full border-r-4 px-2 border-b-4 border-primary focus:outline-none focus:ring-2 focus:ring-primary">
                </div>
    
                <div>
                    <label for="password" class="block font-medium">Password</label>
                    <input type="password" name="password" id="password" required autocomplete="new-password" placeholder="Enter Password"
                        class="bg-white text-primary mt-1 block w-full border-r-4 px-2 border-b-4 border-primary focus:outline-none focus:ring-2 focus:ring-primary">
                </div>
    
                <div class="flex items-center justify-center">
                    <button type="submit" class="p-2 bg-red-400 text-primary font-semibold hover:bg-red-500 border-r-4 border-b-4 border-primary focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50">
                        Delete Account
                    </button>
                </div>
            </form>
        </div>
    </div>

    <script>
        window.onload = function() {
            const editUser = document.getElementById("editUser");
            if (!editUser) return;

            if (window.location.pathname === "/home/user") {
                editUser.classList.toggle("hidden");
                editUser.classList.toggle("block");
            }
        }

        function toggleUserPage() {
            const editUser = document.getElementById("editUser");
            if (!editUser) return;

            editUser.classList.toggle("hidden");
            editUser.classList.toggle("block");

            if (window.location.pathname === "/home") {
                history.pushState(null, null, "/home/user");
            } else {
                history.pushState(null, null, "/home");
            }
        }

        function toggleAccountDelete() {
            const confirmDeleteAccount = document.getElementById("confirmDeleteAccount");
            if (!confirmDeleteAccount) return;

            confirmDeleteAccount.classList.toggle("hidden");
            confirmDeleteAccount.classList.toggle("block");
        }

        function toggleProfileImage() {
            const profileImageWidget = document.getElementById("profileImageWidget");
            if (!profileImageWidget) return;

            profileImageWidget.classList.toggle("hidden");
            profileImageWidget.classList.toggle("block");
        }
    </script>
</body>
</html>
